{% extends "layout.html" %}

{% block title %}
    Food tracker
{% endblock %}

{% block main %}
    <!-- TODO after finish ajax paste script here so i can call the url_for() jinja function -->
    <h1 class="display-4 p-3" style="color:#249c40">Search our food database!</h1>
    <div class="macroFormWrap">
        <div class="container p-3">
            <p class="lead">Daily kcal goal: <b>{{ g.macros['tdee'] | round }}</b></p>
            <p class="lead">Remaining: <b>s</b></p>
        </div>
        <h3 class="p-3" >Food database:</h3>
        <div class="container p-3">
            <input class="form-control input-sm" type="text" placeholder="Search..." id="foodsearch" onchange="foodSearch(this.value)">
        </div>
        <!-- TODO finish the form for posting in the daily food log -->
        <form class="container p-3" method="post">
            <div class="container p-3 table-responsive">
                <table class="table table-bordered" id="foodtable">
                    <thead class="thead-light">
                        <tr>
                            <th> Food </th>
                            <th> Kcal </th>
                            <th> Carbs </th>
                            <th> Protein </th>
                            <th> Fats </th>
                        </tr>
                    </thead>
                    <tbody  id="foodresults">
                    </tbody>
                </table>
            </div>
            <div class="container p-3">
                <input type="number" id="gr" class="form-control input-sm" placeholder="Weight in gr">
                <button type="submit" class="btn btn-secondary btn-sm">
                    Add to food log
                </button>
            </div>
        </form>
    </div>
{% endblock %}