{% extends "layout.html" %}

{% block title %}
    Food tracker
{% endblock %}

{% block main %}
    <!-- Ajax to backend -->
    <script>
        function foodSearch(food){
            // deal with the situation where nothing is chosen
            if (food == '')
                return;


            // create AJAX
            var ajax = new XMLHttpRequest();
            $.ajax({
                dataType: 'json'
            });

            ajax.onreadystatechange = function() {
                if (ajax.readyState == 4 && ajax.status == 200) {
                const response = JSON.parse(ajax.response)

                // food search results table
                let tables = ' ';

                // if response is null
                if (response == null) {
                    return document.getElementById('foodresults').innerHTML = tables;
                }

                // parse response to html
                tables +=
                "<tr>" +
                "<td>" + response.name + "</td>" +
                "<input hidden name='name' value=" + response.name +">" +
                "<td>" + response.weight + " gr</td>" +
                "<input hidden name='weight' value=" + response.weight +">" +
                "<td>" + response.kcal + "</td>" +
                "<input hidden name='kcal' value=" + response.kcal +">" +
                "<td>" + response.carbs + " gr</td>" +
                "<input hidden name='carbs' value=" + response.carbs +">" +
                "<td>" + response.protein + " gr</td>" +
                "<input hidden name='protein' value=" + response.protein +">" +
                "<td>" + response.fat + " gr</td>" +
                "<input hidden name='fat' value=" + response.fat +">" +
                "</tr>";
                return document.getElementById('foodresults').innerHTML = tables;
                }
            };

            // send POST request to backend
            ajax.open('POST', '{{ url_for('foodtracker.search') }}', true);
            ajax.send(food);
        }
    </script>

    <h1 class="display-4 p-3" style="color:#249c40">Search our food database!</h1>
    <div class="macroFormWrap">
        <div class="container p-3">
            <p class="lead">Daily goal: <b>{{ g.macros['tdee'] | round }} kcal</b></p>
            <p class="lead">Remaining: <b>n kcal</b></p>
        </div>
        <h3 class="p-3" >Food database:</h3>
        <div class="container p-3">
            <input class="form-control input-sm" type="text" placeholder="Search..." id="foodsearch" onchange="foodSearch(this.value)">
        </div>
        <form class="container p-3" method="post">
            <div class="container p-3 table-responsive">
                <table class="table table-bordered" id="foodtable">
                    <thead class="thead-light">
                        <tr>
                            <th> Food </th>
                            <th> Serving size </th>
                            <th> Kcal </th>
                            <th> Carbs </th>
                            <th> Protein </th>
                            <th> Fats </th>
                        </tr>
                    </thead>
                    <tbody id="foodresults">
                    </tbody>
                </table>
            </div>
            <p class="lead" id="notfound"></p>
            <div class="container p-3">
                <!-- TODO create table containing food log and post the form there -->
                <input type="number" name="quantity" class="form-control input-sm" placeholder="Quantity of servings">
                <button type="submit" class="btn btn-secondary btn-sm">
                    Add to food log
                </button>
            </div>
        </form>
    </div>
{% endblock %}