main .form-control
{
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;
    /* center contents */
    text-align: center;
}

/* logo.png */
#logo {
        width: 40px;
        height: 35px;
        line-height: 0;
        border: 2px solid #000;
        background-color: #eee;
}

/* Nutrilator brand */
.fs-4 {
    position: absolute;
    padding-left: 10px;
    bottom: 12px;
    font-size:25px;
    font-family: Helvetica;
}

/* green background for navbar */
.bg-dark {
    background-color: #28a745!important;
}

/* style of nav bar buttons */
.navbar-light .navbar-nav .nav-link {
    color: grey;
    font-family: Helvetica;
}

.navbar-nav.mr-auto.mt-2{
    padding-left:100px;
}

.username {
    font-size:18px;
    font-family: Helvetica;
    color: green!important;
    padding-top:9px;
}

/* carousel styling */
.d-md-block {
    background: rgba(128, 128, 128, 0.4);
    width: 100%;
    left: 0%;
    font-opacity: 0;
}
