main .form-control
{
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;
    /* center contents */
    text-align: center;
}

/* logo.png */
#logo {
        width: 40px;
        height: 35px;
        line-height: 0;
        border: 2px solid #000;
        background-color: #eee;
}

.username {
    font-size:18px;
    font-family: Helvetica;
    color: green!important;
    padding-top:9px;
}

/* carousel styling */
.d-md-block {
    font-family: Open Sans,sans-serif;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.w-100 {
    max-height: 700px;
}

.carousel-icons {
    height: auto;
    width: auto;
    padding: 20px;
}

/* for mobile */
@media screen and (max-width: 768px) {
    .carousel-icons {
        width:45%;
    }

    .d-md-block {
    font-size:10px;
    }

    #title{
    font-size: 2rem!important;
    font-weight: 500!important;
    }
}

/* calculator */
.container-content {
    display: flex;
    padding-top: 30px;
}

#title {
    font-weight: 700;
    letter-spacing: -1.3px;
    margin-bottom: -30px;
    color: #555;
}

#macroFormWrap {
    padding: 20px!important;
    background: #f9f9f9!important;
}