main .form-control
{
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;
    /* center contents */
    text-align: center;
}

a {
    color:#48b361;
}

.btn {
    background-color:#ff9d5c;
}

.username {
    font-size:18px;
    font-family: Helvetica;
    color: #008000!important;
    padding-top:11px;
}

/* carousel styling */
.d-md-block {
    font-family: Open Sans,sans-serif;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.w-100 {
    max-height: 900px;
}

.carousel-icons {
    height: auto;
    width: auto;
    padding: 20px;
}

/* for mobile */
@media screen and (max-width: 768px) {
    .carousel-icons {
        width:45%;
    }

    .d-md-block {
    font-size:10px;
    }

    .display-4 {
    font-size:30px;
    }

    .table-responsive {
    position: relative;
    margin: auto;
    width: auto!important;
    }

    .btn {
        margin-top:10px;
    }
}

/* calculator */
.container-content {
    display: flex;
    padding-top: 30px;
}

.macroFormWrap {
    padding: 20px!important;
    background: #f8f9fa!important;
}

#contresults {
   padding-top: 20px;
}

#quantity {
    top: 3px!important;
    position: relative
}

.btn-outline-secondary {
    background-color: white;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    background-color: #ff9d5c;
}

/* index chart */
.table-responsive {
    margin: auto;
    width: auto;
}
