{% extends "layout.html" %}

{% block title %}
    Achieve your macros!
{% endblock %}

{% block main %}
<!-- if not logged in -->
  {% if not g.user %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="{{ url_for('auth.register') }}">
          <img class="d-block w-100" src="static/carousel.png" alt="First slide">
          <div class="carousel-caption d-md-block">
            <img class="carousel-icons" src="static/salad.png">
            <h3>Healthier lifestyle</h3>
            <p>Register for free and start!</p>
          </div>
            </a>
        </div>
        <div class="carousel-item">
          <a href="{{ url_for('calculator.calculator') }}">
          <img class="d-block w-100" src="static/carousel2.png" alt="Second slide">
          <div class="carousel-caption d-md-block">
            <img class="carousel-icons" src="static/calculator.png">
            <h3>Macro-calculator</h3>
            <p>You can calculate your macro intake in whatever timeframe suits you best for your goals.</p>
          </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="#">
          <img class="d-block w-100" src="static/carousel3.png" alt="Third slide">
          <div class="carousel-caption d-md-block">
            <img class="carousel-icons" src="static/dish.png">
            <h3>Food database</h3>
            <p>It will help you achieve a balanced diet with minimal effort, try it out!</p>
          </div>
            </a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  {% endif %}

<!-- if logged in -->
  {% if g.user %}
     <div class="user_home">
       {% if g.macros %}
       <h1 class="display-4 p-3" style="color:#249c40">Welcome {{ g.user['username'] }}, ready to continue following your goals?</h1>
       <div class="macroFormWrap">
         <p class="lead">Your current goal is to: <b>{{ user_data['goal'] }}</b></p>
         <p class="lead">Your current weight is: <b>{{ user_data['weight'] }} kg</b></p>
         <p class="lead"><b><a href="{{ url_for('calculator.calculator') }}" style="color:#ff9d5c;">Update your progress!</a></b></p>
       <div>
         <h3 class="p-3">These are your daily macros:</h3>
         <table class="table table-bordered">
           <thead class="table-success">
           <tr>
             <th scope="col">Kcal</th>
             <th scope="col">Carbs</th>
             <th scope="col">Proteins</th>
             <th scope="col">Fats</th>
           </tr>
           </thead>
           <tbody>
            <tr>
              <td>{{ user_macros['tdee'] | round }}</td>
              <td>{{ user_macros['carbo'] | round }} g</td>
              <td>{{ user_macros['protein'] | round }} g</td>
              <td>{{ user_macros['fat'] | round }} g</td>
            </tr>
           </tbody>
         </table>
         <!-- TODO display daily macro intake with chartjs radar chart, retrieve data from food_log table -->
         <div>
           <h3 class="p-3">Daily intake:</h3>
           <div class="table-responsive container clearfix">
            <canvas id="myChart2" class="table"></canvas>
           </div>
           <script>
             var ctx = document.getElementById('myChart2');
             var chart = new Chart(ctx, {
                 responsive: true,
                 type: 'radar',
                 data: {
                    labels: [
                    'kcal',
                    'protein',
                    'fat',
                    'carbs'
                    ],
                   datasets: [{
                      label: 'My First Dataset',
                      data: [65, 59, 90, 81, 56, 55, 40],
                      fill: true,
                      backgroundColor: 'rgba(255, 99, 132, 0.2)',
                      borderColor: 'rgb(255, 99, 132)',
                      pointBackgroundColor: 'rgb(255, 99, 132)',
                      pointBorderColor: '#fff',
                      pointHoverBackgroundColor: '#fff',
                      pointHoverBorderColor: 'rgb(255, 99, 132)'
                    }, {
                      label: 'My Second Dataset',
                      data: [28, 48, 40, 19, 96, 27, 100],
                      fill: true,
                      backgroundColor: 'rgba(54, 162, 235, 0.2)',
                      borderColor: 'rgb(54, 162, 235)',
                      pointBackgroundColor: 'rgb(54, 162, 235)',
                      pointBorderColor: '#fff',
                      pointHoverBackgroundColor: '#fff',
                      pointHoverBorderColor: 'rgb(54, 162, 235)'
                    }]
                  }});
           </script>
         </div>
         <!-- weight track chart -->
         <h3 class="p-3">Your progress:</h3>
         <div class="table-responsive container clearfix">
          <canvas id="myChart" class="table"></canvas>
         </div>
         <script>
         var ctx = document.getElementById('myChart');
         var chart = new Chart(ctx, {
            responsive: true,
            type: 'line',
            data: {
              labels: {{ labels | tojson }},
              datasets: [{
                label: 'Weight/time',
                data: {{ data | tojson }},
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
              }],
            options: {
             responsive: true,
             maintainAspectRatio: false
             }
            }});
         </script>
         </div>
       </div>
       <!-- if user hasnt logged any data to the db -->
       {% else %}
         <h3 class="display-4 p-3">Welcome {{ g.user['username'] }}, ready to start achieving your goals?</h3>
         <div class="macroFormWrap">
          <h3 class="p-3">Why start counting macros?</h3>
           <p>Counting macros can help someone make sure they are eating the right ratio of nutrients and maintain a moderate weight.
           Macronutrients, or “macros,” are proteins, fats, and carbohydrates. They are essential nutrients that provide energy and help keep people healthy.</p>
           <h3>What are macros?</h3>
           <p>The three types of macros are fat, protein, and carbohydrates.
             It is necessary to combine these nutrients in a diet to maintain a person’s health and normal bodily function.</p>
           <h3 class="p-3"><a href="{{ url_for('calculator.calculator') }}">Start to calculate your macros now!</a></h3>
         </div>
       {% endif %}
     </div>
  {% endif %}

{% endblock %}