{% extends "layout.html" %}

{% block title %}
    Achieve your macros!
{% endblock %}

{% block main %}
<!-- if not logged in -->
  {% if not g.user %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="{{ url_for('auth.register') }}">
          <img class="d-block w-100" src="static/carousel.png" alt="First slide">
          <div class="carousel-caption d-md-block">
            <img class="carousel-icons" src="static/salad.png">
            <h3>Healthier lifestyle</h3>
            <p>Register for free and start!</p>
          </div>
            </a>
        </div>
        <div class="carousel-item">
          <a href="{{ url_for('calculator.calculator') }}">
          <img class="d-block w-100" src="static/carousel2.png" alt="Second slide">
          <div class="carousel-caption d-md-block">
            <img class="carousel-icons" src="static/calculator.png">
            <h3>Macro-calculator</h3>
            <p>You can calculate your macro intake in whatever timeframe suits you best for your goals.</p>
          </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="#">
          <img class="d-block w-100" src="static/carousel3.png" alt="Third slide">
          <div class="carousel-caption d-md-block">
            <img class="carousel-icons" src="static/dish.png">
            <h3>Food database</h3>
            <p>It will help you achieve a balanced diet with minimal effort, try it out!</p>
          </div>
            </a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  {% endif %}

<!-- if logged in -->
  {% if g.user %}
     <div class="user_home">
       {% if user_data['goal'] %}
       <h1 class="display-4 p-3">Welcome {{ g.user['username'] }}, ready to continue following your goals?</h1>
       <div id="macroFormWrap">
       <p class="lead">Your current goal is to: {{ user_data['goal'] }}</p>
       <p class="lead">Your current weight is: {{ user_data['weight'] }} kg</p>
       <div>
         <h3 class="p-3">These are your daily macros:</h3>
         <table class="table table-bordered">
           <thead class="thead-light">
             <th scope="col">Kcal</th>
             <th scope="col">Carbs</th>
             <th scope="col">Proteins</th>
             <th scope="col">Fats</th>
           </thead>
           <tbody>
            <tr>
              <td>{{ user_macros['tdee'] | round }}</td>
              <td>{{ user_macros['carbo'] | round }} g</td>
              <td>{{ user_macros['protein'] | round }} g</td>
              <td>{{ user_macros['fat'] | round }} g</td>
            </tr>
           </tbody>
         </table>
         <!-- weight track chart -->
         <h4 class="p-3">Your progress:</h4>
         <canvas id="myChart" width="2000" height="500"></canvas>
         <script>
         var ctx = document.getElementById('myChart');
         var chart = new Chart(ctx, {
            responsive: true,
            type: 'line',
            data: {
              labels: {{ labels | tojson }},
              datasets: [{
                label: 'Weight/time',
                data: {{ data | tojson }},
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
              }]
            }});
         </script>
         </div>
       </div>
       <!-- if user hasnt logged any data to the db -->
       {% else %}
         <h3 class="display-4 p-3">Welcome {{ g.user['username'] }}, ready to start achieving your goals?</h3>
         <div id="macroFormWrap">
          <h3 class="p-3">Start by<a href="{{ url_for('calculator.calculator') }}"> calculating your macros!</a></h3>
         </div>
       {% endif %}
     </div>
  {% endif %}

{% endblock %}